services:
  dev-postgres:
    image: postgres:15.1-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    networks:
      - lesson
networks:
  lesson:


# version: "3.8"

# services:
#   app:
#     build: .
#     container_name: app
#     ports:
#       - "8080:8080"
#     volumes:
#       - ./:/app
#     env_file:
#       - ./.env
#     depends_on:
#       - dev-postgres
#     networks:
#       - lesson

#   dev-postgres:
#     image: postgres:15.1-alpine
#     ports:
#       - 5434:5432
#     environment:
#       POSTGRES_USER: ${POSTGRES_USER}
#       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#       POSTGRES_DB: ${POSTGRES_DB}
#     restart: always
#     networks:
#       - lesson

# networks:
#   lesson: